body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F1E7FC;
}

.jumbotron {
    background-image: url(../assets/images/underoath-bgd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    border-radius: 0px;
    border: 0px;
}

.welcome {
    color: #ffffff;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    text-align: center
}

#submit-button {
    margin: 5px;
    color: #ffffff;
    font-weight: lighter;
    background-color: #522B83;
    border-radius: 20px;
    box-shadow: 2px 2px #2E0D57;
}

#submit-button:hover {
    margin: 5px;
    color: #ffffff;
    font-weight: lighter;
    background-color: orange;
    border-radius: 20px;
    box-shadow: 2px 2px #2E0D57;
}

#ticket-button {
    margin-bottom: 10px !important;
    width: 100px;
    align-self: center;
    color: #ffffff;
    background-color: #522B83;
    border-radius: 20px;
}

#ticket-button:hover {
    margin-bottom: 10px !important;
    width: 100px;
    align-self: center;
    background-color: orange;
    border-radius: 20px;
}

.navbar {
    color: #ffffff;
    background-color: #2E0D57;
}

#artist {
    margin: 10px auto;
    text-align: center;
    color: gray;
}

#zipcode {
    margin: 10px auto;
    text-align: center;
    color: gray;

}

.card {
    margin: 10px 0px;
}

.card-title {
    padding: 5px;
    text-align: center;
    color: #2E0D57;
    font-weight: bold;
}

.card-text {
    padding: 5px;
    text-align: center;
    color: gray;
}

h3 {
    color: #2E0D57;
    margin-top: 10px;
    margin-bottom: 10px; 
}

a {
    color: white !important;
    text-decoration: none !important; /* no underline */
  }